@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: 'Geist Mono';
}

body,
#root {
  @apply text-sm font-mono;
  overflow: hidden;
  --sb-track-color: #14171c;
  --sb-thumb-color: rgba(255, 255, 255, 0.08);
  --sb-size: 6px;
}

#root {
  isolation: isolate;
}

@layer utilities {
  .touch-hitbox {
    position: relative;
    isolation: isolate;
  }
  .touch-hitbox::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-height: 44px;
    min-width: 44px;
    z-index: 9999;
  }
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 9999px;
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.35),
    inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition-property: background-color;
  transition-duration: 120ms;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.18);
}

*::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.25);
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    scrollbar-width: thin;
  }
}
