:root {
  --border: #343b47;
  --background: #1e2228;
  --background-deeper: #090b0f;
  --button: #353b45;
  --button-border: #4e5663;

  /* Primary Colors */
  --primary: #5d7287;
  --primary-border: #718aa3;

  /* Text and Icon Colors */
  --text: #edeef0;
  --text-muted: #caced4;
  --icon: #a9aeb8;

  /* Feedback Colors */
  --success: #a3be8c;
  --danger: #bf616a;
  --warning: #d08770;
}
